body{
    background-color: rgb(44, 44, 151) !important;
}
.card-main{
    background-color: rgb(0, 255, 21) !important;
    background-image: url("mandalorian.jpg");
    background-position: top;
}
.card-title{
    color: white;
}
.area-height{
    height: 300px;
}